.hero-section {
    min-height: 50vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2026;
}

.hero-content {
    width: 50%;
}

.my-name {
    color: #F9FAFB;
    font-size: 2rem;
    font-weight: bold;
}

.name-color {
    color: #0D86F7;
}

.introduction {
    color: #F9FAFB;
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

.download-cv {
    background-color: #0D86F7;
    color: #F9FAFB;
    font-weight: bold;
    text-decoration: none;
    padding: clamp(0.2rem, 0.5rem, 1rem);
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.4;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

.download-cv:hover {
    transform: translateY(-5px);
    background-color: #0A6CD9;
    border-color: #0D86F7;
}

@media (max-width: 1023px) {

    .hero-content {
        width: 100%;
    }
}
