.home-container {
    width: 100%;
    height: clamp(300px, 520px, 80vh);
    display: flex;
    flex-direction: column;
}

.my-name {
    color: white;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: bold;
    position: relative;
    width: fit-content;
    left: 15vw;
    top: 30%;
}

.name-color {
    color: #0D86F7;
}

.introduction {
    color: white;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    width: 75%;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 15vw;
    top: 30%;
}

.download-cv {
    background-color: #0D86F7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: clamp(0.5vw, 1vw, 1.5vw);
    border-radius: 40px;
    position: relative;
    left: clamp(10vw, 15vw, 30vw);
    top: clamp(20%, 30%, 60%);
    width: fit-content;
    text-align: center;
    display: inline-block;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    line-height: 1.4;
    text-align: center;
    margin: 0;
}
