.home-section {
    width: 100%;
    height: clamp(10vh, 85vh, 100vh);
    align-content: center;
}

.my-name {
    color: white;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: bold;
    margin-left: 15vw;
}

.name-color {
    color: #0D86F7;
}

.introduction {
    color: white;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    width: 75%;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15vw;
}

.download-cv {
    background-color: #0D86F7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: clamp(0.5vw, 1vw, 1.5vw);
    border-radius: 40px;
    margin-left: 15vw;
    text-align: center;
    display: inline-block;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    line-height: 1.4;
}

.download-cv:hover {
    transform: translateY(-5px);
    background-color: #0A6CD9;
}