.portfolio-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.portfolio-title {
    color: #0D86F7;
    text-align: center;
}

.portfolio-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    width: 80%;
    max-width: 1200px;
    margin-top: 3rem;
    padding: 1rem;
    gap: 1rem;
}

.project-link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin: 10px auto;
}

.project-title {
    color: white;
    text-align: center;
}

.project-description {
    color: white;
    text-align: justify;
}