.skillset-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #242830;
}

.skillset-title {
    color: #0D86F7;
    margin-bottom: 3rem;
}

.skillset-box {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
}

.skill {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 0.5rem;
}

.skill-icon {
    width: 5rem;
    height: 5rem;
    filter: grayscale(0%) opacity(1); 
    transition: all 0.3s ease;
}

.skill-subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
}

@media (hover: hover) {
    .skill-icon {
        filter: grayscale(100%) opacity(0.6);
    }

    .skill:hover .skill-icon {
        filter: grayscale(0%) opacity(1);
        transform: scale(1.1);
    }
}

@media (max-width: 1024px) {
    .skillset-box {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    }

    .skill-icon {
        width: clamp(2.5rem, 8vw, 5rem);
        height: auto;
    }
}

@media (max-width: 767px) {
    .skillset-box {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    }
}