.skillset-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: #242830;
}

.skillset-title {
    color: #0D86F7;
    margin-bottom: 3rem;
}

.skillset-box {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.skill {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 0.5rem;
}

.skill-icon {
    width: 5rem;
    height: 5rem;
    filter: grayscale(100%) opacity(0.6);
    transition: all 0.3s ease;
}

.skill:hover .skill-icon {
    filter: grayscale(0%) opacity(1);
    transform: scale(1.1);
}

.skill-subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
}

