.social-container {
    width: 100%;
    height: auto;
    background-color: #1F242D;
    display: flex;
    justify-content: center;
}

.icon-group {
    background-color: transparent;
    padding: 1rem;
}

.social-icon {
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    margin: 0.5rem 3rem;
}

.icon-image {
    width: 2.5rem;
    height: auto;
    background-color: transparent;
}

