.experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.experience-title {
    color: #F9FAFB;
    margin-bottom: 3rem;
    text-align: center;
}

.experience-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    width: 80%;
    margin-top: 3rem;
    gap: 2rem;
    justify-content: center;
}

.exp-card {
    background-color: #1F2937;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.exp-card:hover {
    background-color: #273549;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.exp-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.exp-tag {
    color: #F9FAFB;
    background-color: #0D86F7;
    padding: 0.05rem;
    padding-inline: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.exp-role {
    color: #F9FAFB;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.exp-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.exp-company {
    color: #F9FAFB;
    font-size: 1rem;
    margin: 0;
}

.exp-dates {
    color: #ccc;
    font-size: 0.9rem;
}

.exp-description {
    color: #F9FAFB;
    text-align: justify;
    font-size: 0.95rem;
}

@media (max-width: 1023px) {
    .experience-box {
        width: 100%;
    }
}
